<div class="navbar">
  <img [src]="src" alt="logo" />
  <div class="navbar__options">
    <button
      mat-button
      [routerLink]="['/competition-list']"
      routerLinkActive="router-link-active"
    >
      <mat-icon>format_list_bulleted</mat-icon>
      <span class="hide">
        {{ "shared.nav-bar.list" | translate }}
      </span>
    </button>

    <mat-form-field
      class="language-selection"
      fxLayout="column"
      fxLayoutAlign="center center"
    >
      <mat-select
        [(value)]="selectedLanguage"
        (selectionChange)="useLanguage($event.value)"
      >
        <mat-option *ngFor="let language of languages" [value]="language.code">
          {{ language.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-button (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      <span class="hide">
        {{ "shared.nav-bar.log-out" | translate }}
      </span>
    </button>
  </div>
</div>
