.competition-card {
  height: calc(100% - 100px);
}
.container-list {
  min-width: 80%;
  .header {
    text-align: center;
    font-family: "Montserrat", sans-serif;
  }
  ::ng-deep .mat-form-field-flex {
    background: transparent;
  }
  &__table {
    width: 100%;
    table {
      th {
        color: #2e6ead;
        font-weight: bold;
      }
      tr {
        td {
          button {
            padding: 0;
            width: 100%;
            text-align: left;
            img {
              max-width: 20px;
              height: auto;
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .container-list {
    min-width: 80%;
    mat-form-field {
      width: 100%;
    }
  }
}
