.main-login {
  background: url("../../../../assets/login.jpg") center center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: relative;
  .layout {
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
  }
}
.container-login {
  width: 50%;
  .header {
    text-align: center;
    font-family: "Montserrat", sans-serif;
  }
  &__form {
    width: 70%;
  }
  &__input {
    width: 100%;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .container-login {
    min-width: 80%;
  }
}
