.main-login{
  background: url('../../../../assets/login.jpg') center center;
  height: 100vh;
  width: 100vw;
}
.container-login {
  width: 50%;
  .header {
    text-align: center;
    font-family: "Montserrat", sans-serif;
  }
  &__form {
    width: 70%;
  }
  &__input {
    width: 100%;
  }
}
