<ng-container *ngIf="competition">
  <h1 class="header" mat-dialog-title>
    {{ "competition-component.competition-modal.title" | translate }}
  </h1>
  <mat-dialog-content fxLayout="column" fxLayoutGap="25px">
    <div fxLayout.xs="column" fxLayout="row" fxLayoutGap="25px">
      <div
        fxFlex
        fxLayout="column"
        fxLayoutGap="15px"
        fxLayoutAlign="start center"
      >
        <div fxLayout="column">
          <h3 class="bold">
            {{ "competition-component.competition-modal.name" | translate }}:
            <span>{{ competition.name | titlecase }}</span>
          </h3>
        </div>
        <div fxLayout="row">
          <img
            class="avatar"
            [src]="competition.sprites.front_default"
            [alt]="competition.name"
          />
          <img
            class="avatar"
            [src]="competition.sprites.back_default"
            [alt]="competition.name"
          />
        </div>
      </div>
      <div fxFlex fxLayout="column" fxLayoutGap="15px">
        <div>
          <h3 class="bold">
            {{ "competition-component.competition-modal.type" | translate }}:
          </h3>
          <ul>
            <li *ngFor="let item of competition.types">
              {{ item.type.name | titlecase }}
            </li>
          </ul>
        </div>
        <div>
          <h3 class="bold">
            {{ "competition-component.competition-modal.stats" | translate }}:
          </h3>
          <ul>
            <li *ngFor="let item of competition.stats">
              <span>{{ item.stat.name | titlecase }}: </span>
              {{ item.base_stat }}
            </li>
          </ul>
        </div>
        <div *ngIf="competitionLocation">
          <h3 class="bold">
            {{ "competition-component.competition-modal.stay" | translate }}:
          </h3>
          <ul>
            <li *ngFor="let item of competitionLocation">
              {{ item.location_area.name | titlecase }}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div
      class="competition-detail"
      fxLayout.xs="column"
      fxLayout="row"
      fxLayoutGap="25px"
    >
      <div fxFlex fxLayout="column" fxLayoutGap="15px">
        <div>
          <h3 class="bold">
            {{ "competition-component.competition-modal.move" | translate }}:
          </h3>
          <ul>
            <li *ngFor="let item of competition.moves">
              {{ item.move.name | titlecase }}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
      <button mat-raised-button color="warn" (click)="cancel()">
        {{ "competition-component.competition-modal.button-cancel" | translate }}
      </button>
    </div>
  </mat-dialog-content>
</ng-container>
