.avatar {
  width: 120px;
}

.header {
  text-align: center;
}

.bold {
  font-weight: bold;
  color: #2e6ead;
  span {
    color: #000000;
    font-weight: normal;
  }
}

ul {
  padding: 0 10px;
  columns: 2;
}

.competition-detail {
  ul {
    columns: 4;
  }
}
